joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
uvicorn
fastapi
boto3
dvc-s3
pydantic>=2.0.0
starlette
httpx
pytest
pytest-cov
python-multipart
python-dotenv
requests